html,
body {
  box-sizing: border-box;
  height: 100%;
  background: #1a1b1f;
  color: #fff;
}

html, body, input, textarea {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  border: none;
  border-radius: 0;
  margin: 0 auto;
}

input[type="text"] {
  padding: 8px;
  width: 100%;
  height: 40px;
}

textarea {
  padding: 8px;
  width: 100%;
  min-height: 100px;
  resize: none;
  overflow-y: scroll;
}

input[type="submit"] {
  padding: 16px;
  background: #129ae2;
  color: #fff;
  width: 100%;
}

.form-container, .message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#tutorial-form,
#tutorial-form-rest{
  width: 100%;
  max-width: 300px;
}

.input-container {
  width: 100%;
  margin: 16px 0;
  /* overflow: hidden; */
}

.home-container, .response-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.response-container h1 {
    font-size: 52px;
}

/* oczekiwanie */
.wave {
    width: 6em;
    height: 4em;
}

.wave .rect {
    height: 100%;
    width: 0.5em;
    display: inline-block;
    animation: wave-stretch-delay 1.2s infinite ease-in-out;
}

.wave .rect-1 {
    background-color: #337ab7;
    animation-delay: -1.2s;
}

.wave .rect-2 {
    background-color: #33b75d;
    animation-delay: -1.1s;
}

.wave .rect-3 {
    background-color: #9db773;
    animation-delay: -1s;
}

.wave .rect-4 {
    background-color: #b7335d;
    animation-delay: -0.9s;
}

.wave .rect-5 {
    background-color: #d601af;
    animation-delay: -0.8s;
}

@keyframes wave-stretch-delay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}

a {
    color: white;
    text-decoration: none;
    border: solid white 1px;
    border-radius: 3px;
    padding: 5px;
}